# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/vendor/*
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.lock
*.swp
*.bak
*.DS_Store
.grunt
app/stylesheets/normalize.css
build
docs
env.js
lcov.info
lib-cov
logs
pids
public
tags
