lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.lock
*.swp
*.bak
*.DS_Store
.grunt
bower_components
build
docs
logs
node_modules
npm-debug.log
pids
public
tags
vendor
app/stylesheets/normalize.css
env.js
