// Colors

$white: #ffffff;
$off-white: #eeeeee;
$light-gray: #cccccc;
$gray: #d2d2d2;
$med-gray: #777777;
$dark-gray: #444444;
$deep-gray: #292929;
$black: #000000;

$pale-blue: #E3EAF1;
$blue: #0082be;
$light-blue: #5DB9F1;
$yellow: #f39f2b;
$green: #39af4c;
$red: #e81e25;
