@import 'colors';

/* Components */

@media only screen and (min-width : 1024px) {

  .Blog, .Blog-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .Blog {
    min-height: 100vh;
  }

  .Blog-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

.Blog-body {
  font-size: 1.8rem;
  padding: 0;
}

.Blog-content {
  margin: 0;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.Blog-nav, .Blog-aside {
  padding: 1em;
  border-radius: 3px;
}

.Blog-nav {
  line-height: 2em;
}

.Blog-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Blog-nav-list-item {
  list-style: none;
  margin: 0 0 2rem;
  padding: 0;
  line-height: 1.5em;
  font-size: .85em;
}

.Blog-excerpt {
  margin-bottom: 2em;
}

.Blog-list {
  line-height: 1.25em;
}

.Blog-list-date {
  @extend %strong-text;
  width: 20%;
  float: left;
  margin-bottom: 1em;
}

.Blog-list-item {
  margin-left: 20%;
  margin-bottom: 1em;
}

.Blog-about {}

.Comments-form-text {
  width: 100%;
  min-height: 6em;
}

.Comments {
  margin: 0;
  padding: 0;
}

.Comments-item {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 80px;

  span {
    display: inline-block;
  }

  .Comments-item-avatar {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-right: 10px;
  }

  .Comments-item-date {
    margin-left: 60px;
    font-size: 80%;
  }

  .Comments-item-username {
    font-size: 80%;
  }

  .Comments-item-body {
    margin-left: 60px;
    top: 20px;
    font-size: 80%;
  }
}

.Header {
  padding: 1em .5em .5em 1em;
  text-align: center;
  line-height: 1em;
}

.Header-logo, .Header-title, .Header-subTitle {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

.Header-logo {
  float: left;
  margin-right: 1rem;
  margin-top: -.33rem;
  width: 2.5rem;
  height: 2.7rem;
}

.Header-title {
  margin: 0;
  font-size: 2.0em;
  line-height: 1.5em;
  word-spacing: .08em;
  float: left;
}

.Header .u-whiteTxt a {
  border-bottom: none;
}

.Header-subTitle {
  margin: 0;
  white-space: nowrap;
  text-align: right;
  float: right;
  font-size: .85em;
}

.Footer {
  padding: 1.5rem 1.5rem 3rem 1.5rem;
}

.Footer-credits {
  margin: 0;
  padding: 0;
}

.Footer-form {}

.Footer-form-button {
  @extend %display-text;
  background: none;
  border: none;
  font-size: 1em;
}

.Box {
  width: 100%;
  padding: .5rem;
}

.Box::after {
  content: "";
  display: block;
  margin-top: .5rem;
  height: 1px
}

.Box-title {
  margin-bottom: .25rem;
  font-size: 1em
}

//.Admin {}
//.Admin-form {}

.Admin-form input,
.Admin-form textArea {
  width: 100%;
}

.Admin-form textArea {
  min-height: 150px;
}

.Admin-form-body textArea {
  min-height: 250px;
}

@media only screen
  and (min-width : 768px) and (max-width : 1024px) {

  .Header {
    padding: .75rem 1rem .5rem 2rem;
  }

  .Header-title, .Header--cozy .Header-title {
    font-size: 1.3em;
    line-height: 1em;
  }
}

@media only screen and (min-width : 1024px) {

  .Blog-body {
    padding: 0;
  }
  .Blog-body--two-col {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: auto;
  }

  .Blog-content {
    margin: 0;
    padding-top: 2rem;
    padding-right: 3rem;
    padding-bottom: 6rem;
    padding-left: 4rem;
  }
  .Blog-content--two-col {
    min-width: 70%;
  }

  .Blog-nav {
    padding-left: 3rem;
    padding-top: 2.25rem;
  }
  .Blog-nav--two-col, .Blog-aside--two-col {
    /* 30% is the width of the columns */
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
  }
  .Blog-nav--two-col {
    /* put the nav on the right */
    -webkit-box-ordinal-group: 0;
    -webkit-order: 1;
    -moz-box-ordinal-group: 0;
    -ms-flex-order: 1;
    order: 1;
  }

  .Header {
    padding: 1rem 1rem .5rem 4rem;
  }

  .Header-logo {
    width: 35px;
    height: 38px;
  }

  .Header--cozy, .Header--cozy .Header-titles {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }

  .Header--cozy {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .Header-title, .Header--cozy .Header-title {
    font-size: 1.5em;
  }
}
