@import 'colors';

/* Utilities */

/* Text */

.u-serif {
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: normal;
}

.u-textLeft {
  text-align: left!important;
}

.u-sansSerif {
  font-family: 'outageregular', sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-kerning: normal;
}

.u-textCenter {
  text-align: center!important;
}

.u-whiteTxt,
.u-whiteTxt a,
.u-whiteTxt a:active,
.u-whiteTxt a:hover {
  color: white;
}
.u-whiteTxt a {
  border-bottom: 1px dashed rgba(255, 255, 255, .5);
}

.u-blackTxt,
.u-blackTxt a,
.u-blackTxt a:active,
.u-blackTxt a:hover {
  color: black;
}
.u-blackTxt a {
  border-bottom: 1px dashed rgba(0, 0, 0, .5);
}

.u-grayTxt,
.u-grayTxt a,
.u-grayTxt a:active,
.u-grayTxt a:hover {
  color: $gray;
}
.u-grayText a {
  border-bottom: 1px dashed $gray;
}

.u-medGrayTxt,
.u-medGrayTxt a,
.u-medGrayTxt a:active,
.u-medGrayTxt a:hover {
  color: $med-gray;
}
.u-medGrayText a {
  border-bottom: 1px dashed $med-gray;
}

.u-yellowTxt,
.u-yellowTxt a,
.u-yellowTxt a:active,
.u-yellowTxt a:hover {
  color: $yellow;
}
.u-yellowTxt a {
  border-bottom: 1px dashed $yellow;
}

.u-greenTxt,
.u-greenTxt a,
.u-greenTxt a:active,
.u-greenTxt a:hover {
  color: $green;
}
.u-greenTxt a {
  border-bottom: 1px dashed $green;
}

.u-blueTxt,
.u-blueTxt a,
.u-blueTxt a:active,
.u-blueTxt a:hover {
  color: $blue;
}
.u-blueTxt a {
  border-bottom: 1px dashed $blue;
}

.u-redTxt,
.u-redTxt a,
.u-redTxt a:active,
.u-redTxt a:hover {
  color: $red;
}
.u-redTxt a {
  border-bottom: 1px dashed $red;
}

/* Borders */

.u-offWhiteLtBorder {
  border-left: 2px dotted $off-white;
}

.u-grayTopBorder {
  border-top: 2px dotted $gray;
}

.u-grayLtBorder {
  border-left: 2px dotted $gray;
}

.u-grayRtBorder {
  border-right: 2px dotted $gray;
}

.u-grayBotBorder {
  border-bottom: 2px dotted $gray;
}


/* Backgrounds */

.u-offWhiteBkg {
  background-color: $off-white;
}

.u-grayBkg {
  background-color: $gray;
}

.u-ltBlueBkg {
  background-color: $pale-blue;
}

.u-blueBkg {
  background-color: $blue;
}

.u-whiteBkg {
  background-color: $white;
}

.u-blackBkg {
  background-color: $black;
}

/* Boxes */

.u-rounded {
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
}

/* Button */

.u-button {
  font-size: 1.25rem;
  font-weight: normal;
  font-family: 'outageregular', sans-serif;
  background: $gray;
  display: inline-block;
  padding: .4em .8em;
  margin-right: .5em;
  margin-top: .5em;
  text-decoration: none;
  color: $dark-gray;
  border: none;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;

  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
}
a.u-button {
  border: none;
}

.u-button:hover {
  background: $blue;
  text-shadow: none;
  color: $white!important;
}

.u-button--sm {
  font-size: 1rem;
  padding: .5rem;
  line-height: 1em;
}

.u-button--reverse,
a.u-button--reverse {
  color: $white;
  background: $med-gray;
}

.u-button--wide {
  text-align: center;
  width: 100%;
  margin-top: 5rem;
  padding: 1rem;
}

.u-button--desktop {
  display: none;
}


.u-save, .u-edit, a.u-edit, .u-save, .u-cancel, .u-destroy {
  color: $white;
}

.u-edit, a.u-edit {
  background-color: $med-gray;
}

.u-save {
  background-color: $green;
}

.u-cancel {
  background-color: $red;
}

.u-destroy {
  background-color: $red;
}

/* Misc */
.u-clickable {
  cursor: pointer;
  display: inline;
}

/* Clear fix */
.u-cf:before,
.u-cf:after {
  content: " ";
  display: table;
}
.u-cf:after {
  clear: both;
}

@media only screen and (min-width: 768px) {
  .u-button, a.u-button {
    font-size: 1.25rem;
  }
  .u-button--sm, a.u-button--sm {
    font-size: 1rem;
    line-height: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .u-button--desktop {
    display: block;
  }
}
