<section class="Blog-about">
  <h1>About</h1>

  <p>
    My name is Bill Heaton, I am a freelance developer who loves the Web platform
    and the growth of mobile devices with great browsers.
    I enjoy building with open source, using Linux and developing with Ember.js and 
    Ruby on Rails frameworks; I also dig using (node.js) Express for an API.
    My favorite text editor(s): Vim and MacVim.
  </p>

  <ul>
    <li><em>Specialties</em>: JavaScript, CSS, HTML, Ember.js, Ruby on Rails, Node.js</li>
    <li><em>Favorite open source project</em>: Ember.js</li>
    <li><em>Employment</em>: Freelance Developer – Working on apps built with Ember.js</li>
  </ul>

  <p>This is my personal blog site, pixelhander.com</p>

  <p><em>Contact:</em><br>
  Follow <a href="https://twitter.com/#!/pixelhandler">@pixelhandler</a> on Twitter<br>
  Connect at <a href="http://www.linkedin.com/in/billheaton">LinkedIn</a><br>
  Email to pixelhandler [at] Gmail<br>
  Voicemail: 1-714-512-2215 (Google Voice)<br></p>

  <p>Or, snail mail at:<br>
  Bill Heaton<br>
  PO Box 7814<br>
  Norco, CA 92860</p>
</section>
