<section class="Blog-about">
  <h1>About</h1>

  <p>
    My name is Bill Heaton, I am a developer who loves the Web platform and
    the growth of mobile devices with great browsers. I enjoy building with
    open source, using Linux, creating client applications with Ember.js,
    and building API's with whatever language works best for the API needs.
    My favorite text editor is MacVim.
  </p>

  <ul>
    <li>
      <strong>Specialties</strong>: JavaScript, CSS, HTML, Ember.js, 
      Ruby on Rails, Node.js
    </li>
    <li>
      <strong>Favorite open source project</strong>: Ember.js
    </li>
    <li>
      <strong>Employment</strong>: Cyber security – Building apps with Ember.js
    </li>
  </ul>

  <p>This is my personal blog, pixelhander.com</p>

  <p><em>Contact...</em></p>
  <dl>
    <dt>Follow:</dt>
    <dd><a href="https://twitter.com/#!/pixelhandler">@pixelhandler</a>
    on Twitter</dd>
    <dt>Connect:</dt>
    <dd><a href="http://www.linkedin.com/in/billheaton">LinkedIn</a></dd>
    <dt>Email:</dt>
    <dd>pixelhandler [at] gmail</dd>
    <dt>Voicemail:</dt> 
    <dd>1-714-512-2215</dd>
    <dt>Snail mail:</dt> 
    <dd>Bill Heaton<br>PO Box 7814<br>Norco, CA 92860</dd>
  <dl>
</section>
