{{#if hasMore}}
  {{#unless loadingMore}}
    <button class="Blog-showMore u-button u-button--wide" {{action "showMore"}}>Show More</button>
  {{else}}
    <button class="Blog-showMore u-button u-button--wide">Loading...</button>
  {{/unless}}
{{/if}}
