{
  "development": {
    "admin": {
      "username": "admin",
      "password": "admin"
    },
    "session": {
      "cookieName": "blog.sid",
      "secret": "everything is awesome"
    },
    "port": 8888,
    "cors": [
      "http://localhost:4200"
    ]
  }
}
