/* Elements */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  @extend %body-text;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  @extend %strong-text;
  -webkit-font-kerning: normal;

  color: #f39f2b; /* yellow */
}
h1, h2, h3, h4 {
  margin: 0 0 1rem 0;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1.1em;
}
h4 {
  color: #0082be;
}
h6, small {
  margin: 0;
  padding: 0;
}
p, ul, dl {
  margin: 0 0 1em 0;
}
p, li, dt, dd {
  line-height: 1.6em;
}
small {
  @extend %display-text;
  color: #d2d2d2;
}

header,
footer {
  margin: 0;
  padding: 0;
}
footer small {
  color: #777777;
}

a, a:link, a:hover, a:visited, a:active {
  text-decoration: none;
}

strong {
  @extend %strong-text;
  color: #0082be; /* blue */
  font-weight: 500;
}

em {
  @extend %emphasis-text;
}

small {
  font-size: 1.1rem;
}

pre, code {
  @extend %mono-text;
  border: 1px solid #292929;
  border-radius: 6px;
  background-color: #292929;
  color: #5DB9F1;
}

pre {
  padding: 2rem;
}

code {
  font-size: 1rem;
  padding: .25rem;
}

pre > code {
  padding: 0;
}

@media (min-width: 48em) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.4em;
  }
  p, li, dt, dd {
    line-height: 1.8em;
  }
  small {
    font-size: .75em;
  }
  code {
    font-size: 1.5rem;
  }
}
