// Placeholders

%body-text {
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
}

%strong-text {
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
}

%emphasis-text {
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
}

%display-text {
  font-family: 'outageregular', sans-serif;
  font-style: normal;
  font-weight: 400;
}

%mono-text {
  font-family: 'Fira Mono', monospace;
  font-style: normal;
  font-weight: 400;
}
