<h4 class="u-sansSerif">Blog Administration</h4>
<ul class="Blog-nav-list u-medGrayText">
  <li class="Blog-nav-list-item">{{#link-to 'admin.index'}}Admin Home{{/link-to}}</li>
  <li class="Blog-nav-list-item">{{#link-to 'admin.create'}}New Post{{/link-to}}</li>
</ul>
