/* Colors */

:root {
  --white: #ffffff;
  --offwhite: #fcfcfc;
  --lightgray: whitesmoke;
  --gray: #d2d2d2;
  --medgray: #777777;
  --darkgray: #444444;
  --deepgray: #292929;
  --black: #333333;

  --paleblue: #e6efff;
  --blue: #3677af;
  --darkblue: #0082be;
  --brightblue: #009fff;
  --deepblue: #1e487b;
  --lightblue: #acecfb;
  --medblue: rgb(157, 210, 255);
  --yellow: #f39f2b;
  --green: #39af4c;
  --red: #e81e25;

  --gold: rgba(192, 172, 117, 1);
  --ltgold: rgba(192, 172, 117, .25);
}
