@import 'colors';

/* Utilities */

.preload > * {
  visibility: hidden;
}

.loaded {
  -webkit-transition: opacity .333s;
  -moz-transition: opacity .333s;
  -o-transition: opacity .333s;
  transition: opacity .333s;
  opacity: 1;
}

.loading {
  opacity: 0;
}


/* Text */

.u-monospaced {
  font-family: 'Andale Mono', AndaleMono, Consolas, 'Lucida Console', 'Lucida Sans Typewriter', monaco, monospace;
}

.u-sansSerif {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-kerning: normal;
}

.u-serif {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-style: normal;
  font-weight: normal;
}

.u-serif h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.u-textCenter {
  text-align: center!important;
}

.u-textLeft {
  text-align: left!important;
}

.u-whiteTxt,
.u-whiteTxt a,
.u-whiteTxt a:active,
.u-whiteTxt a:hover {
  color: white;
}
.u-whiteTxt a, .u-whiteTxt .u-clickable {
  border-bottom: 1px solid var(--paleblue);
}

.u-blackTxt,
.u-blackTxt a,
.u-blackTxt a:active,
.u-blackTxt a:hover {
  color: black;
}
.u-blackTxt a, .u-blackTxt .u-clickable {
  border-bottom: 1px solid var(--paleblue);
}

.u-grayTxt,
.u-grayTxt a,
.u-grayTxt a:active,
.u-grayTxt a:hover {
  color: var(--gray);
}
.u-grayText a, .u-grayText .u-clickable {
  border-bottom: 1px solid var(--gray);
}

.u-medGrayTxt,
.u-medGrayTxt a,
.u-medGrayTxt a:active,
.u-medGrayTxt a:hover {
  color: var(--medgray);
}
.u-medGrayText a, .u-medGrayText .u-clickable {
  border-bottom: 1px solid var(--gray);
}

.u-darkGrayTxt,
.u-darkGrayTxt a,
.u-darkGrayTxt a:active,
.u-darkGrayTxt a:hover {
  color: var(--darkgray);
}
.u-darkGrayText a, .u-darkGrayText .u-clickable {
  border-bottom: 1px solid var(--medgray);
}

.u-goldTxt,
.u-goldTxt a,
.u-goldTxt a:active,
.u-goldTxt a:hover {
  color: var(--gold);
}
.u-goldTxt a, .u-goldTxt .u-clickable {
  border-bottom: 1px solid var(--ltgold);
}

.u-yellowTxt,
.u-yellowTxt a,
.u-yellowTxt a:active,
.u-yellowTxt a:hover {
  color: var(--yellow);
}
.u-yellowTxt a, .u-yellowTxt .u-clickable {
  border-bottom: 1px solid var(--yellow);
}

.u-greenTxt,
.u-greenTxt a,
.u-greenTxt a:active,
.u-greenTxt a:hover {
  color: var(--green);
}
.u-greenTxt a, .u-greenTxt .u-clickable {
  border-bottom: 1px solid var(--green);
}

.u-paleblueTxt,
.u-paleblueTxt a,
.u-paleblueTxt a:active,
.u-paleblueTxt a:hover {
  color: var(--powderblue);
}
.u-paleblueTxt a, .u-paleblueTxt .u-clickable {
  border-bottom: 1px solid var(--paleblue);
}

.u-redTxt,
.u-redTxt a,
.u-redTxt a:active,
.u-redTxt a:hover {
  color: var(--red);
}
.u-redTxt a, .u-redTxt .u-clickable {
  border-bottom: 1px solid var(--red);
}

/* Borders */

.u-grayLtBorder {
  border-left: 2px solid var(--gray);
}

.u-grayRtBorder {
  border-right: 2px solid var(--gray);
}

.u-grayLtBorder {
  border-left: 2px solid var(--gray);
}

.u-brightblueBotBorder {
  border-bottom: 4px solid var(--brightblue);
}

.u-blueTopBorder {
  border-top: 4px solid var(--lightblue);
}

a.u-noBorder {
  border-bottom: none;
}


/* Backgrounds */

.u-blueGrayBkg {
  background-color: var(--bluegray);
}

.u-grayBkg {
  background-color: var(--gray);
}

.u-ltBlueBkg {
  background-color: var(--paleblue);
}

.u-charcoalBkg {
  background-color: var(--charcoal);
}

.u-whiteBkg {
  background-color: var(--white);
}

.u-blueBlackBkg {
  background-color: var(--blueBlack);
}

.u-blackBkg {
  background-color: var(--black);
}

/* Boxes */

.u-rounded {
  border-radius: 1rem;
}

/* Button */

.u-button {
  font-size: 1.25rem;
  font-weight: normal;
  font-family: 'Andale Mono', AndaleMono, Consolas, 'Lucida Console', 'Lucida Sans Typewriter', monaco, monospace;
  background: var(--grayMoss);
  display: inline-block;
  padding: .4em .8em;
  margin-right: .5em;
  margin-top: .5em;
  text-decoration: none;
  color: var(--darkgray);
  border: none;
  transition: background-color 0.5s;
  border-radius: 1rem;
}
a.u-button {
  border: none;
}

.u-button:hover {
  background: var(--blue);
  text-shadow: none;
  color: var(--charcoal)!important;
}

.u-button--lg {
  font-size: 1.8rem;
  margin: .75rem;
  padding: 1.8rem;
  line-height: 1.8rem;
}

.u-button--sm {
  font-size: 1rem;
  padding: .5rem;
  line-height: 1em;
}

.u-button--reverse,
a.u-button--reverse {
  color: var(--charcoal);
  background: var(--offwhite);
}

.u-button--wide {
  text-align: center;
  width: 100%;
  margin-top: 5rem;
  padding: 1rem;
}

.u-button--desktop {
  display: none;
}


.u-save, .u-edit, a.u-edit, .u-save, .u-cancel, .u-destroy {
  color: var(--white);
}

.u-edit, a.u-edit {
  background-color: var(--medgray);
}

.u-save {
  background-color: var(--green);
}

.u-cancel {
  background-color: var(--red);
}

.u-destroy {
  background-color: var(--red);
}

/* Misc */
.u-clickable {
  cursor: pointer;
  display: inline;
}

.u-float-right {
  float: right;
  margin-left: 2rem;
  margin-bottom: 6rem;
}

.u-align-center {
  float: none;
  text-align: center;
  clear: both;
}

.u-text-normal {
  font-weight: normal;
}

.u-text-bold {
  font-weight: bold;
}

/* Clear fix */
.u-cf:before,
.u-cf:after {
  content: " ";
  display: table;
}
.u-cf:after {
  clear: both;
}

@media only screen and (min-width: 768px) {
  .u-button, a.u-button {
    font-size: 1.25rem;
  }
  .u-button--sm, a.u-button--sm {
    font-size: 1rem;
    line-height: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .u-button--desktop {
    display: block;
  }
}
