{{title "About"}}

<section class="Blog-about">
  <h1>About</h1>

  <p class="u-float-right">
    <img src="https://dl.dropboxusercontent.com/u/5739722/img/pixelhander-2016.jpg" width="103" height="111"/>
  </p>

  <p>
    My name is Bill Heaton, I am a developer who loves the Web and the growth of
    mobile devices with great browsers. I enjoy building with open source, using
    Linux, creating client applications with Ember.js, and building API's with
    Ruby on Rails. My favorite text editor is MacVim.
  </p>

  <ul class="u-cf">
    <li>
      <strong>Favorite open source project</strong>: Ember.js
    </li>
    <li>
      <strong>Employment</strong>: Software Development Manager – Building apps with Ember.js and Ruby on Rails.
    </li>
  </ul>

  <h4>Contact…</h4>
  <dl>
    <dt>Follow:</dt>
    <dd><a href="https://twitter.com/#!/pixelhandler">@pixelhandler</a>
    on Twitter</dd>
    <dt>Connect:</dt>
    <dd><a href="http://www.linkedin.com/in/billheaton">LinkedIn</a></dd>
    <dt>Email:</dt>
    <dd>pixelhandler [at] gmail</dd>
    <dt>Voicemail:</dt> 
    <dd>1-714-512-2215</dd>
    <dt>Snail mail:</dt> 
    <dd>Bill Heaton<br>PO Box 6614<br>Norco, CA 92860</dd>
  </dl>

  <p><em>† This is my personal blog. My opinions are my own.</em></p>

  {{outlet}}
</section>
