{{#each model key="@identity" as |post|}}
  <div class="Blog-excerpt">
    <h2 class="Blog-excerpt-title u-blackTxt u-sansSerif">
      {{#link-to "post" post}}{{post.title}}{{/link-to}}
    </h2>
    <section class="Blog-excerpt-summary u-serif">
      {{markdown-to-html markdown=post.excerpt}}
    </section>
    {{#link-to "post" post class="u-button"}}Read on →{{/link-to}}
  </div>
{{/each}}

{{has-more-button hasMore=hasMore loadingMore=loadingMore}}

{{outlet}}
