<footer class="Footer u-sansSerif u-medGrayTxt u-textCenter u-blackBkg u-grayTopBorder">
  <p class="Footer-credits">
    The End.
    <small>[Copyright &copy;2015 Bill Heaton]</small>
  </p>
</footer>
