<header class="Header Header--cozy u-grayBotBorder u-gradientBkg">
  <div class="Box u-cf u-goldTxt u-monospaced">
    <div class="Header-title">
      {{#link-to 'excerpts' class="u-noBorder"}}pixelhandler's blog{{/link-to}}
    </div>
  </div>
</header>
