<header class="Header Header--cozy u-sansSerif u-grayBotBorder u-blackBkg">
  <div class="Box u-cf">
    {{#link-to 'index'}}
      <img class="Header-logo" src="//d3i8kyz4wwfkbg.cloudfront.net/images/pixelhandler-logo.png">
    {{/link-to}}
    <div class="Header-title u-whiteTxt">
      {{#link-to 'index'}}Pixelhandler's Blog{{/link-to}}
    </div>
    <div class="Header-subTitle u-medGrayTxt">
      Pushin&apos; &amp; pullin&apos; pixels on the web
    </div>
  </div>
</header>
