<header class="Header Header--cozy u-grayBotBorder u-gradientBkg">
  <div class="Box u-cf u-goldTxt u-monospaced">
    <div class="Header-title">
      <span {{action "home"}} class="u-clickable">pixelhandler's blog</span>
    </div>
    <div class="Header-search">
      <form {{action "doSearch" searchFilter on="submit"}}>
        {{input type="text" placeholder="search…" value=searchFilter}}
        <input type="submit" value="→">
      </form>
    </div>
  </div>
</header>
