<h4 class="u-sansSerif">Links</h4>
<ul class="Blog-nav-list u-medGrayText u-serif">
  <li class="Blog-nav-list-item">{{#link-to 'excerpts'}}Blog{{/link-to}}</li>
  <li class="Blog-nav-list-item">{{#link-to 'archives'}}Archive{{/link-to}}</li>
  <li class="Blog-nav-list-item">{{#link-to 'about'}}About{{/link-to}}</li>
</ul>
